server {
    listen 80;
    listen [::]:80;
    server_name data.gtdb.ecogenomic.org;

    # Serve static files for validating certbot
    location /.well-known/acme-challenge/ {
        root /var/www/acme-challenge;
    }

    # Redirect HTTP to HTTPS
    location / {
        return 301 https://$host$request_uri;
    }
}

server {
    # Server configuration
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    server_name data.gtdb.ecogenomic.org;
    server_tokens off;

    # SSL settings
    ssl_certificate /etc/letsencrypt/live/data.gtdb.ecogenomic.org/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/data.gtdb.ecogenomic.org/privkey.pem;
    include /etc/letsencrypt/options-ssl-nginx.conf;
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;

    # Serve static content from the data directory
    location / {
        # Disable sendfile for >16MB files.
        aio threads;
        directio 16M;
        output_buffers 2 1M;

        autoindex on;
        autoindex_exact_size on;
        autoindex_format xml;
        root /var/www/data-gtdb;

        add_header Cache-Control 'no-store, no-cache, must-revalidate, proxy-revalidate, max-age=0';
        expires off;

        # Set XSLT
        xslt_string_param path $uri;
        xslt_stylesheet /xml/dirlist.xslt;
    }

    # Serve icons
    location /ico/ {
        expires 14d;
        alias /xml/ico/;
    }

}

